* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: hsl(220, 70%, 97%);
  --black: #000;
  --blue: hsl(214, 100%, 55%);
  --extremely-light-gray: #E0E0E0;
  --gradient: linear-gradient(90deg, hsl(142, 70%, 97%), var(--blue));
  --gray: rgb(128, 128, 128);
  --green: #32CD32;
  --light-gray: rgb(180, 178, 178);
  --light-green: hsl(121, 75%, 95%);
  --orange: #F93;
  --purple: #800080;
  --white: #FFF;
}

body {
  background-color: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}